[Desktop Entry]
Name=Radio Console Kiosk
Comment=Auto-launch Radio Console in kiosk mode
Exec=google-chrome --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --remote-debugging-port=9223 http://localhost:5002
Icon=audio-radio
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
