[Desktop Entry]
Name=Radio Console Kiosk
Comment=Auto-launch Radio Console in kiosk mode
Exec=/usr/local/bin/radio-kiosk-launch
Icon=audio-radio
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
