[Desktop Entry]
Name=Radio Console
Comment=Grandpa Anderson's Console Radio Web UI
Exec=google-chrome --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --disable-background-timer-throttling --disable-renderer-backgrounding --disable-backgrounding-occluded-windows --remote-debugging-port=9223 --password-store=basic http://localhost:5002
Icon=audio-radio
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
StartupNotify=true
